body{
	width: 920px;
	text-align: center;
	background: #C4E7EC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

table{
	width:720px;
	border:1px solid #074A96;
}

img{
	width: 300px;
	padding: 8px;
}

a{
	font-size: 1.5em;
	padding: 7px;
}

a:link, a:visited {
	text-decoration:  none;
	color: #0E2E52;
}


a:hover{
	text-decoration: underline;
	color: white;
}

div{
	border: 1px solid #37315C;
	padding: 5px;
	margin: 5px;
}



span{
	float: right;
}
.texto{
	font-size: 0.8em;
}

.texto-lado-esquerdo{
	padding: 5px;
	text-align: left;
}

.texto-aliando-acima{
	padding-top: 3px;
}

.div-tamanho{
	font-size: 1.2em;
	background: #D2E9DF;
	width: 400px;
	float: left;
}

.clear{
	clear: both;
}