body{
	text-align: center;
	width: 920px;
	background: #C4E7EC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

table{
	border: 1px solid #055180;
	width:720px;
	background: #99c5e0;
}


table thead th {
	background: #055180;
	color: whitesmoke;
}

table tbody td{
	background: #8ecdf5;
}

table tbody tr:nth-child(even) td {
	background: #badef5;
}

table tbody tr:hover td{
	background: #cde7f7;
	color: black;
	cursor: pointer;
}

table tfoot{
	background:whitesmoke;
	color: #83b1f2;
}

img{
	width: 300px;
	padding: 8px;
}

a{
	font-size: 1.5em;
	padding: 7px;
}

a:link, a:visited {
	text-decoration:  none;
	color: #0E2E52;
}


a:hover{
	text-decoration: underline;
	color: white;
}

div{
	border: 1px solid #37315C;
	padding: 5px;
	margin: 5px;
}



span{
	float: right;
}

.texto{
	font-size: 0.8em;
}

.texto-lado-esquerdo{
	padding: 5px;
	text-align: left;
}

.texto-aliando-acima{
	padding-top: 3px;
}

.div-tamanho{
	font-size: 1.2em;
	background: #D2E9DF;
	width: 400px;
	float: left;
}

.clear{
	clear: both;
}