div .tamanho{
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px 4px;
}

#preDefinidas{
    background-color: white;
}

#currentcolor {
    background-color: currentColor;
}

#rgb {
    background-color: rgb(213, 130, 28);
}

#rgba{
    background-color: rgba(213, 130, 28, 0.6);
}

#hexadecimal{
    background-color: #d5821c;
}

#hexadecimalTransparente{
    background-color: #d5821c66;
}

#hls{
    background-color: hsl(360, 80%, 50%);
}

#hlsa{
    background-color: hsl(360, 80%, 50%, 0.6);
}

img{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
}

#contain{
    object-fit: contain;
}

#cover{
    object-fit: cover;
}

#fill{
    object-fit: fill;
}

#none{
    object-fit: none;
}

#scaleDown{
    object-fit: scale-down;
}

#porcentagem {
    object-fit: contain;
    object-position: 80% 50%;
}

#px{
    object-fit: contain;
    object-position: 30px 40px;
}

#left{
    object-fit: cover;
    object-position: left top;
}

#center{
    object-fit: cover;
    object-position: center bottom;
}

#right{
    object-fit: cover;
    object-position: right center;
}