#image{
   /* background-image: url(./imagens/Fundo\ 01.jpg);
    background-position: center; */
    background: url(./imagens/Fundo\ 01.jpg) center;

}

#color{
   /* background-color: aquamarine; */
   background: aquamarine;
}

#linear {
    /* background-image: linear-gradient(to right, rgb(28, 141, 124), rgb(166, 222, 239)); */
    background: linear-gradient(to right, rgb(28, 141, 124), rgb(166, 222, 239));
}

#radial{
    /* background-image: radial-gradient(rgb(0, 0, 0), rgb(180, 12, 12), rgb(52, 96, 52)); */
    background: radial-gradient(rgb(0, 0, 0), rgb(180, 12, 12), rgb(52, 96, 52));
}

#repeat{
    /* background-image: repeating-linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet); */
    background: repeating-linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
}

#fundoPx{
    /* background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: 50px 40px; */
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/50px 40px;
}

#fundoPorCento{
    /* background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: 50% 30%; */
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/50% 30%;
}

#fundoEm{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: 5em 10em ;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/5em 10em;
}

#fundoContain{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: contain;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/contain;
}

#fundoCover{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: cover;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/cover;

}

#fundoAuto{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: auto;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) repeat left top/auto;
}

#noRepeat{
    /*background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 50%;
    background-repeat: no-repeat;*/
    background: url(./imagens/Fundo\ 01.jpg) no-repeat left top/50%;
}

#fundoRepeat{
    /* background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 50%;
    background-repeat: repeat; */
    background: url(./imagens/Fundo\ 01.jpg) repeat left top/50%;
}

#repeat-x{
    /*background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 50%;
    background-repeat: repeat-x;*/
    background: url(./imagens/Fundo\ 01.jpg) repeat-x left top/50%;
}

#repeat-y{
    /*background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 50%;
    background-repeat: repeat-y;*/
    background: url(./imagens/Fundo\ 01.jpg) repeat-y left top/50%;
}

#space{
    /*background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 30%;
    background-repeat: space;*/
    background: url(./imagens/Fundo\ 01.jpg) space left top/30%;
}

#round{
    /*background-image: url(./imagens/Fundo\ 01.jpg);
    background-size: 50%;
    background-repeat: round; */
    background: url(./imagens/Fundo\ 01.jpg) round left top/50% 100%;
}

#fundoPorcentagem{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-position: 45% 40%;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) 45% 40%;
}

#fundoPX{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20px 35px;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) no-repeat 20px 35px/ cover;

}

#fundoLeft{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: left top;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) no-repeat left top;
}

#fundoCenter{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;*/
    background: url(./imagens/Fundo02\ \(1\).jpg) no-repeat center center;
}

#fundoRight{
    /*background-image: url(./imagens/Fundo02\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: right bottom;*/
    background: url(imagens/Fundo02\ \(1\).jpg) no-repeat right bottom;
}

#fundoScrool{
    /*background-image: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png);
    background-position: center;
    overflow: auto;
    background-attachment: scroll;*/
    overflow: auto;
    background: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png) scroll center;
}

#fundoFixed{
    /*background-image: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png);
    background-position: center;
    overflow: auto;
    background-attachment: fixed;*/
    overflow: auto;
    background: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png) center fixed;
}

#fundoLocal{
    /*background-image: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png);
    background-position: center;
    overflow: auto;
    background-attachment: local;*/
    overflow: auto;
    background: url(./imagens/2fb4bc93-7f44-4aa8-8728-6f2fad1fb007.png) local center;
}

#originPadding{
    border: 10px dashed rgb(80, 10, 10);
    /*background-image: url(./imagens/Thor.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: padding-box;*/
    box-sizing: border-box;
    background: url(./imagens/Thor.jpg) no-repeat left top/100% 100% padding-box;
}

#originBorder{
    border: 10px dashed rgb(80, 10, 10);
    /*background-image: url(./imagens/Thor.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;*/
    box-sizing: border-box;
    background: url(./imagens/Thor.jpg) no-repeat left top/100% 100% border-box;
}

#originContent{
    border: 10px dashed rgb(80, 10, 10);
    /*background-image: url(./imagens/Thor.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;*/
    padding: 15px;
    box-sizing: border-box;
    background: url(./imagens/Thor.jpg) no-repeat left top/100% 100% content-box;
}

#clipPadding{
    border: 10px dashed rgb(80, 10, 10);
    /*background-color: aquamarine;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;*/
    box-sizing: border-box;
    background: aquamarine no-repeat center/100% 100% padding-box;
}

#clipBorder{
    border: 10px dashed rgb(80, 10, 10);
    /*background-color: aquamarine;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box;*/
    box-sizing: border-box;
    background: aquamarine no-repeat center/100% 100% border-box;
}

#clipContent{
    border: 10px dashed rgb(80, 10, 10);
    /*background-color: aquamarine;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: content-box;*/
    padding: 10px;
    box-sizing: border-box;
    background: aquamarine no-repeat center/100% 100% content-box;
}

div > #exemplo{
    width: 350px;
    height: 150px;
    background-image: url(./imagens/Thor.jpg);
    color: aliceblue;
    font-size:80px;
    font-weight: 900;
    border: 10px dashed red;
    box-sizing: border-box;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.alinhando{
    display: flex;
    text-align: center;
}

#exemploI{
    background: url(./imagens/Fundo02\ \(1\).jpg) #f5aaa6;
    background-size: 100% 100%;
    background-blend-mode: darken;
}

#exemploII{
    background: url(./imagens/Fundo02\ \(1\).jpg) #c8b9b8;
    background-size: 100% 100%;
    background-blend-mode: screen;
}

#exemploIII{
    background: url(./imagens/Fundo02\ \(1\).jpg) #f5aaa6;
    background-size: 100% 100%;
    background-blend-mode: overlay;
}

#exemploIIII{
    background: url(./imagens/Fundo02\ \(1\).jpg) #3fce55;
    background-size: 100% 100%;
    background-blend-mode: lighten;
}

#thin{
    box-sizing: border-box;
    border-style: double;
    border-width: thin;
    border-color: aqua;
}

#medium{
    box-sizing: border-box;
    border-style: ridge;
    border-width: medium;
    border-color: rgb(109, 30, 177);
}

#thick{
    box-sizing: border-box;
    border-style: solid;
    border-width: thick;
    border-color: yellowgreen;
}

#px{
    box-sizing: border-box;
    border-style: dotted;
    border-width: 10px;
    border-color: red;
}

#porcento{
    box-sizing: border-box;
    border-style: ridge;
    border-width: 2%;
    border-color: blueviolet;
}

#radius{
    box-sizing: border-box;
    border: 3px double lawngreen;
    border-radius: 50%;
}

#image_source{
    box-sizing: border-box;
    border-image-source: url(./imagens/testeborda.avif);
    border-image-width: 10%;
    border-image-slice: 25%;
    border-image-repeat: round;
    border-image-outset: 5px;
}

#border_image{
    border-image: url(./imagens/teste2.jpg) 20%/10%/3px round;
}